/* Hier können custom styles hinzugefügt werden. */

/* CustomStyle - automatisches Nummerieren der Überschriften aktiviert. */
@import "plugins/numbered";

/* Breite des Menüs links. */
$menu-width: 20rem;
/* Breite des Inhaltsverzeichnisses rechts. */
$toc-width: 20rem;

/* Style Partial Brand Teilüberschrift */
.borderbrand {
    background-color: #013476;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
  }

@import "plugins/dropdown";
@import "plugins/pageinfo"