// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  note: rgb(55, 58, 58),
  info: #6bf,
  warning: #E78700,
  danger: #B61F29,
  old: #941622,
) !default;

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #014EB1;
  --color-visited-link: #013476;

  --body-background: rgb(247, 247, 247);
  --body-font-color: black;
  --nav-background: white;
  --code-background: rgb(202, 202, 202);
  --toc-color: #013476;
  --toc-color-hover: #013476 ;
  --toc-background: #A3D8F8;
  --image-border: #A3D8F8;
  --category-background: #f8f9fa;
  --showcase-background: #83888d;
  --showcase-summary-font-color: #f8f9fa;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #E78700;
  --hint-color-danger: #B61F29;
  --hint-color-old: #941622;
}

@mixin theme-dark {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link: #64BEF1 ;
  --color-visited-link: #A3D8F8;

  --body-background: #343a40;
  --body-font-color: #e9ecef;
  --nav-background: white;
  --code-background: rgba(255, 255, 255, 0.2);
  --toc-color: #64BEF1;
  --toc-color-hover: white;
  --toc-background: none;
  --image-border: #013476;
  --category-background: rgba(255, 255, 255, 0.1);
  --showcase-background: #232527;
  --showcase-summary-font-color: white;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #E78700;
  --hint-color-danger: #B61F29;
  --hint-color-old: #941622;
}
