/* roboto-regular - latin */
@font-face {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-weight: bold
}
