<details {{ if or (.Get "open") (in .Params "open") }}open{{ end }}>
    {{- $summary := cond .IsNamedParams (.Get "title") (.Get 0) -}}
    <summary>{{ $summary | .Page.RenderString }}</summary>
    <div class="markdown-inner">
        <table border="5">
            <tr>
                <td width="75%">
                    {{ $imgMarkdown := printf "![%s](%s)" (.Get "caption") (.Get "url") }}
                    {{ $imgMarkdown | .Page.RenderString }}
                </td>
                <td>{{ .InnerDeindent | markdownify }}</td>
            </tr>
        </table>
    </div>
  </details>